{% extends "base.html" %}

{% block content %}
  <div class="container main">
    <h1>Leveransrapport Clinical Genomics</h1>
    <p>
      Leveransrapport för familj 12001<br>
      Datum: 2012-02-02
    </p>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <h4>Kontakt Clinical Genomics</h4>
            <address>
              <strong>Clinical Genomics</strong><br>
              Science for Life Laboratory<br>
              Tomtebodavägen 23<br>
              171 65 Solna<br>
              <abbr title="Phone">P:</abbr> (08) 524 81 500
            </address>
          </div>

          <div class="col-xs-6">
            <h4>Kundinformation</h4>
            <address>
              <strong>Centrum för medfödda metabola sjukdomar</strong><br>
              Karolinska Universitetssjukhuset<br>
              Solna, L7:05, STOCKHOLM<br>
            </address>
          </div>
        </div>
      </div>
    </div>

    {{ order_info() }}

    {{ date_info() }}

    {{ lab_info() }}

    {{ methods() }}

    <div class="panel panel-default">
      <div class="panel-heading">Signatur för godkännande av rapport</div>
      <div class="panel-body">
        Valtteri Wirta<br>
        Head of unit, Clinical Genomics
      </div>
    </div>

    <p class="text-center"><i>Slut på rapport</i></p>
  </div>
{% endblock %}

{% macro order_info() %}
  <div class="panel panel-default">
    <div class="panel-heading">Beställningsinformation</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Prov</th>
          <th>Familj</th>
          <th>Kön</th>
          <th>Genpaneler</th>
          <th>Ticket</th>
          <th>Analys</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in samples %}
          <tr>
            <td>{{ sample.sample_id }}</td>
            <td>{{ sample.analysis.family_id }}</td>
            <td>{{ sample.sex_predicted }}</td>
            <td>IEM, EP</td>
            <td>600123</td>
            <td>EXSTA100</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}

{% macro date_info() %}
  <div class="panel panel-default">
    <div class="panel-heading">Datum</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Prov</th>
          <th>Ankomstdatum</th>
          <th>Leveransdatum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12001-I-1A</td>
          <td>2012-01-15</td>
          <td>2012-02-02</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endmacro %}

{% macro lab_info() %}
  <div class="panel panel-default">
    <div class="panel-heading">Labbinformation</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Familj</th>
          <th>MIP version</th>
          <th>Genlista</th>
          <th>Genomversion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12001</td>
          <td>2.1.3</td>
          <td>Clinical master</td>
          <td>CRCh37</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endmacro %}

{% macro methods() %}
  <div class="panel panel-default">
    <div class="panel-heading">Teknisk beskrivning av analysen: EXSTA100</div>
    <div class="panel-body">
      <p>Anrikning av exomet sker med hjälp av hybridiseringsbaserade tekniker, vilka inte möjliggör en fullständing täckning av det kodande exomet. Vissa regioner kommer inte finnas representerade i slutdatat och eventuella mutationer i dessa regioner kommer därmed inte kunna identifieras.</p>

      <p>Metoden för anrikning använder PCR-baserad amplifieringstekniker, vilket skapar en ojämn representation av exomet. Vissa regioner kommer att vara bättre täckta en andra. Vid behov kan vi tillhandahålla en provspecifik uppskattning av anrikningseffektiviteten för antingen hela exomet eller den kliniskt relevanta genlistan.</p>
    </div>
  </div>
{% endmacro %}
