# application requirements
Flask==1.0.2
Flask-Alchy==0.5.0
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.1
PyYAML==3.13
SQLAlchemy==1.2.15
alchy==2.2.2
alembic==1.0.5
bs4=0.0.1
click<7
path.py==11.5.0
pymysql==0.9.3
-e git+https://github.com/Clinical-Genomics/demultiplexing.git#egg=demux 

# development requirements
bumpversion
pytest==3.3.0
wheel
git-lint
pylint
pycodestyle
yamllint
docutils
html-linter
six>=1.12                   # due to astroid 2.3.1
