Flask
Flask-Alchy
Flask-Bootstrap
Flask-SQLAlchemy==2.1
PyYAML
SQLAlchemy
alchy
alembic
bs4
bumpversion
click<7
path.py
pymysql
pytest
wheel
-e git+https://github.com/Clinical-Genomics/demultiplexing.git#egg=demux 
