Flask
Flask-Alchy
Flask-Bootstrap
PyYAML
SQLAlchemy
alchy
alembic
bs4
bumpversion
click<7
path.py
pymysql
pytest
wheel
-e git+https://github.com/Clinical-Genomics/demultiplexing.git#egg=demux 
git-lint
pylint
pycodestyle
yamllint
docutils
html-linter